* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #cdcdcd;
    color: #333;
}

header {
    background-image: url('../static/dron.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.header-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.header-container div{
    margin-top: 80px;
}


h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #28a745;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.cta-button {
    background-color: #28a745;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #218838;
}


.header-container a{
    background-color: #28a745;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}